
.header {
  height: 41px;
  display: flex;
  flex-direction: row;
}

.rectangle1 {
    flex: 1;
    display: flex;
    height: 41px;
    align-items: center;
    background: rgba(196, 196, 196, 0.10);
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    border-style: solid;
    border-radius: 41px;
    position: absolute;
    flex-shrink: 1;
  }
.rectangle1 * {
    z-index: 2;
  }
.tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13.6px;
    color: rgba(0, 0, 0, 0.60);
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  .glider {
    position: absolute;
    height: 36.5px;
    width: calc(100% / 4); /* Adjust the width according to the number of tabs */
    background-color: #227AFF;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
    left: 0;
    flex-shrink: 0;
  }
  
  .header input[type="radio"] {
    display: none;
  }
  .header input[type="radio"]:checked + label {
    color: white;
  }  
  .header input[id="radio-1"]:checked ~ .glider {
    transform: translateX(3%);
  }
  .header input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }
  .header input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
  }
  .header input[id="radio-4"]:checked ~ .glider {
    transform: translateX(297%);
  }
